<div class="square">

{if isset($BotonCedula)}

<b>Cedula:</b> {$actor->get('cedula')}"<br>
<b>Nombre:</b> {$actor->get('nombre')} <br>
<b>Apellido:</b> {$actor->get('apellido')} <br>

 <br>

{section loop=$actuacion name=i}
<form action="{$gvar.l_global}eliminaractuacion.php?option=eliminar" method="post">
<b>Codigo pelicula:</b> <input type="text" name="pelicula" value="{$actuacion[i]->get('pelicula')}" readOnly="true"/><br>
<b>Personaje:</b> <input type="text" name="personaje" value="{$actuacion[i]->get('personaje')}" readOnly="true"/><br>
<input type="text" name="actor" value="{$actor->get('cedula')}" style="visibility:hidden"/>
<input class="btn btn-primary" type="submit" value="Eliminar" />

</form>
{/section}

{else}

<form action="{$gvar.l_global}eliminaractuacion.php?option=buscar" method="post">
<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td>

<b>Eliminar una Actuacion</b><br> Ingrese los siguientes datos <br><br>

		<b>Cedula del Actor:</b> <input type="text" name="cedula" /><br>
		
<input class="btn btn-primary" type="submit" value="Buscar actor" />

</td></tr>
</table>
</form>

{/if}

</div>
