<div class="square">
<table cellspacing="5">
<tr><td><h4>Parcial 1</h4>

<p> <a  href="{$gvar.l_global}registraractuacion.php"> <b>Registrar Actuacion</b><br></a></p>
<p> <a  href="{$gvar.l_global}eliminaractuacion.php"> <b>Eliminar Actuacion</b><br></a></p>
<p> <a  href="{$gvar.l_global}listarelenco.php"> <b>Listar Elenco</b><br></a></p>

</td></tr></table>
</div>