<div class="square">

<h2>Peliculas y elencos</h2>
<table width="100%" border="0" cellpadding="0" cellspacing="5">

	{section loop=$pelicula name=i}
		
		<h5>{$pelicula[i]->get('nombre')}</h5>
		{section loop=$actuacion name=x}
			
			{if $pelicula[i]->get('codigo') eq $actuacion[x]->get('pelicula')}
			{section loop=$actor name=z}
	
				{if $actor[z]->get('cedula') eq $actuacion[x]->get('actor')}
		
					Nombre: {$actor[z]->get('nombre')} <br>
					Apellido: {$actor[z]->get('apellido')} <br>
					Personaje: {$actuacion[x]->get('personaje')} <br>
		
				{/if}
	
			{/section}
			{/if}
	
		{/section}
	
	{/section}

</table>
</div>
