<div class="square">
<form action="{$gvar.l_global}registraractuacion.php?option=add" method="post">
<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td>

<b>Agregar una Actuacion</b><br> Ingrese los siguientes datos <br><br>

		<b>Actor:</b> <input type="text" name="actor" /><br>
		<b>Pelicula:</b> <input type="text" name="pelicula" /><br>
		<b>Personaje:</b> <input type="text" name="personaje" /><br>

<input class="btn btn-primary" type="submit" value="Insertar Actuacion" />

</td></tr>
</table>
</form>
</div>
