<div class="square">
<table cellspacing="5">

<tr><td>
<h4>Bienvenido al inicio de peliculas y actores</h4>

<p>Seleccione la opcion deseada </p>
<p> <a  href="{$gvar.l_global}registrar_actuacion.php"> Registrar Actuacion </a></p>
<p> <a  href="{$gvar.l_global}eliminar_actuacion.php"> Eliminar Actuacion </a></p>
<p> <a  href="{$gvar.l_global}listar_elencos.php"> Listar Elencos </a></p>


</td></tr>
</table>
</div>