<div class="square">
	<form action="{$gvar.l_global}registrar_actuacion.php?option=add" method="post">
		<table width="100%" border="0" cellpadding="0" cellspacing="5">
			<tr><td>


				<b>Registrar Actuacion </b><br /><br />

					<b>Cedula del actor:</b> <input type="text" name="actor" /><br />
					<b>Codigo de la pelicula:</b> <input type="text" name="pelicula" /><br />
					<b>Nombre del personaje:</b> <input type="text" name="nombrepersonaje" /><br />
					<b>Id de la actuacion:</b> <input type="text" name="id" /><br />

				<input class="btn btn-primary" type="submit" value="Registrar" />
				
				
				
			</td></tr>
		</table>
	</form>
</div>